* {box-sizing: border-box}
	
body {
	background: #fff;
	padding: 0;
	margin: 0;
	list-style: none;
}

@font-face{
	font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf') format('truetype')        
}
@font-face {
	font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype')        
}
@font-face{
	font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype') 
}
@font-face {
	font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype') 
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;
}
a, a:visited {
	color: #d0d0d0;
	text-decoration:none;
	background-image: url(/assets/course14/social.png);
}
.clearfix:before,
.clearfix:after {

     content: ".";
     display: table;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}




#wrapper {
	width: 1050px;
	height: auto;
	overflow: auto;
	margin: 0 auto;
	padding: 10px;

}
.content {
	width: 950px;
	margin: 0 auto;
}
.logo span {
	font-family:  'Lato-Black', sans-serif;
	font-size: 35px;
	color: #5b5b5b;
}
.logo {
	margin-top: 30px;
}
.nav {
	margin-top: 40px;
	color: #393939;
	background-color: #393939; 
}
.menu {
    display: inline;
}
.menu li {
	display: inline-block;
	padding: 20px 35px;
	color: #d0d0d0;
	font-family: 'OpenSans-Bold';
}
.nav:after {
	content: "";
      clear: both;
      display: block;

}
.icons {
  	 text-align: right;
 	 float: right;  
     display: inline-block;
 }
.ic {
	display:inline-block;
	width: 12px;
	height: 12px;
	background: url("../img/sprite.png") no-repeat;
	margin-right: 15px;	
	vertical-align: middle;
	margin-top: 25px;
	text-align: right;
}
.rss {
	background-position: 0 0;
}
.fb {
	background-position: -20px 0;
}
.tw {
	background-position: -40px 0;
}
.content{
	
}
.intertitle{
	margin-top: 50px;
	font: 35px bold 'OpenSans-Bold', sans-serif;
	color: #5c5c5c;
	text-align: center;

}
.menu li{
	border-right: 1px solid #464646;
	
}
.descr{
	font: 25px  'OpenSans-Light', sans-serif;
	color: #5c5c5c;
	text-align: center;
	margin-top: 30px;

}
.displayimg {
	text-align: center;
	margin-left: 80px;
	margin-top: 50px;
}
.navarrows {
	width: 35px;
	height: 35px;
	margin: 160px 0;
}
.leftarrow {
	float: left;
	background: url(../img/rightarrowblack.png) no-repeat;
	
}
.leftarrow:hover {
	background: url(../img/rightarrowwhite.png) no-repeat;
}
.rightarrow {
	float: right;
	background: url(../img/leftarrowblack.png) no-repeat;
}
.rightarrow:hover {
	background: url(../img/leftarrowwhite.png) no-repeat;
}
.advantages>.intertitle {
	font: 25px bold 'OpenSans-Bold', sans-serif;
}
.advantages>.descr {
	font: 14px/28px  'OpenSans-Regular', sans-serif;
	color: #5c5c5c; 
	text-align: center;
	margin-top: 30px;
}
.iconses {
	margin-top: 40px;
	text-align: center;
}
.iconses img, span {
	text-align: center;
}
.contspan {
	margin-top: 15px;
}
.cont {
	float: left;
	text-align: center;
	}

.cont span {
	font: 16px  'OpenSans-Bold', sans-serif;
	color: #5c5c5c; 
}
.cont1 {
	margin-right: 120px;
	margin-left: 55px;
}
.cont2 {
	margin-right: 120px;
}
.cont3 {
	margin-right: 120px;
}

.contimg1 {
	width: 125px;
	height: 105px;
	background: url("../img/ecl1.png") no-repeat;
	background-position: center;
}
.contimg1:hover {
	width: 125px;
	height: 105px;
	background: url("../img/hoverecl1.png") no-repeat;
	background-position: center;
}
.contimg2 {
	width: 125px;
	height: 105px;
	background: url("../img/ecl2.png") no-repeat;
	background-position: center;
}
.contimg2:hover {
	width: 125px;
	height: 105px;
	background: url("../img/hoverecl2.png") no-repeat;
	background-position: center;
}
.contimg3 {
	width: 105px;
	height: 105px;
	background: url("../img/ecl3.png") no-repeat;
	background-position: center;
}
.contimg3:hover {
	background: url("../img/hoverecl3.png")no-repeat;
	background-position: center;
}

.contimg4 {
	width: 105px;
	height: 105px;
	background: url("../img/ecl4.png") no-repeat;
	background-position: center;
}
.contimg4:hover {

	background: url("../img/hoverecl4.png") no-repeat;
	background-position: center;
}
}
.contspan {
	text-align: center;
	width: 125px;
}
.contspan span:hover {
	color: #5c5c5c !important;
}
.cont:hover span {
	color: #75cec2;  
}
.outtitle {
	text-transform: uppercase;
	text-align: left;
	font: 16px 'OpenSans-Bold', sans-serif;
	margin-bottom: 30px;
	color: #5c5c5c;
	margin-top: 100px;
}
.columns {
 	 background: url("../img/backgroundlist.png") repeat-y;
 	 overflow: hidden;
 	 margin: 0 auto;
 	 height: 200px;
}
.columns1 {
	width: 300px;
	float: left;

}
.columns2 {
	margin-left: 25px;
	width: 300px;
	float: left;

}
.columns3 {
	width: 300px;
	float: right;

}
.columns-bottom {
	margin-top: 20px;
}
.bottitle {
	font: 16px 'OpenSans-Bold', sans-serif;
	color: #5c5c5c;
	margin-bottom;
	margin-bottom: 15px;
}
.subtitle {
	font: 13px 'OpenSans', sans-serif;
	color: #75cec2;
}
.bottomcontent {
	margin-top: 28px;
	font: 14px 'OpenSans', sans-serif;
	color: #5c5c5c;
	line-height: 28px;
	padding-bottom: 50px;
}
#footer {
	width: 1050px;
	background-color: #393939;
	height: auto;
	overflow: auto;
	margin: 0 auto;
}
.firstcolumn {
	width: 300px;
	float: left;
}
.twelvecolumn {
	margin-left: 25px;
	width: 300px;
	float: left;
}
.thirdcolumn {
	width: 300px;
	float:right;
}
#footer h5 {
	font: 16px 'OpenSans-Bold', sans-serif;
	color: white;
	text-transform: uppercase;
}
.topsection {
	margin-top: 60px;
	font: 14px/24px 'OpenSans', sans-serif;
	color: #b4b4b4;
}
.contacts>p {
	margin-top: 13px;
	margin-left: 15px;
}
.topsection p {
	margin-top: 25px;
	margin-bottom: 35px;
}
.contic {
	float: left;
}
.place img {
 	margin-top: 5px;
}
.place span {
	margin-left: 10px;
}
.phone img {
 margin-top: 5px;
}
.phone span {
	margin-left: 10px;
	
}
.mail img {
 margin-top: 8px;
}
.mail span {
	margin-left: 10px;
}
.contacts .place p {
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 20px;
	text-align:left;
}
.place {
	height: 52px;
}
.firstcolumn {
	padding-right: 30px;
}
.twelvecolumn {
	padding-right: 35px;
}
.thirdcolumn {
	padding-right: 40px;
}
.thirdcolumn p {
	margin: 0;
	margin-top: 20px;
}
.date {
	margin-top: 0;
}

time {
	 font: 12px 'OpenSans', sans-serif;
	 color: #7b7b7b;
}
.botsection {
	width: 1050px;
	height: auto;
	overflow: auto;
	margin: 0 auto;
	padding: 10px;
	background: #333333;
}
.botsection p {
	padding: 33px 0;
	font: 14px 'OpenSans', sans-serif;
	color: #d2d2d2;

}